.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container {
  height: 100%;
  width: 100%;
}
.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1px 125px;
  border: 1px solid gray;
  border-radius: 5px;
  position: sticky;
  top: 0;
}
.flex-justify {
  justify-content: space-around;
}
.list-container {
  margin: 29px;
}

.column-flex {
  display: flex;
  flex-direction: column;
}
h3 {
  text-align: center;
}
ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 50px solid #555;
  border-bottom: 25px solid transparent;
}
.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #555;
  position: relative;
  top: 14px;
  left: 4px;
}
.list-div {
  width: 50%;
}
.input-div {
  width: 30%;
}
.amount-div {
  width: 20%;
}

input {
  border-radius: 4px;
  border: 1px solid grey;
  padding: 7px;
  text-align: center;
}

span.text {
  margin-left: 7px;
}
span.indent {
  padding: 25px;
}
.header {
  z-index: 1;
  background: wheat;
}
button {
  border: 1px solid cadetblue;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  background: aliceblue;
}
